 Compiled source #
build-ProjectQT-Desktop_Qt_5_9_2_clang_64bit-Debug/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.user
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



OtherFiles/1.jpg
ProjectCV/Debug/
ProjectCV/.vs/
ProjectCV/Release/
ProjectCV/Profil/
ProjectCV/ProjectCV.dir
ProjectCV/ProjectCV.VC.db
ProjectCV/ProjectCV.sln
ProjectCV/ProjectCV.vcxproj.filters
ProjectCV/ProjectCV.VC.VC.opendb
ProjectCV/x64/
ProjectCV/ALL_BUILD.vcxproj
ProjectCV/ALL_BUILD.vcxproj.filters
ProjectCV/ProjectCV.vcxproj
ProjectCV/ProjectCV.vcxproj.filters
ProjectCV/ZERO_CHECK.vcxproj
ProjectCV/ZERO_CHECK.vcxproj.filters
ProjectCV/CMakeCache.txt
ProjectCV/CMakeFiles
ProjectCV/cmake_install.cmake
ProjectCV/Debug




OtherFiles/testImages/FlashImages/OutputTestImages/
OtherFiles/testImages/FrameImages/OutputTestImages/
