 Compiled source #
build-ProjectQT-Desktop_Qt_5_9_2_clang_64bit-Debug/
*.com
*.class
*.dll
*.exe
*.o
*.so
*.user
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



OtherFiles/1.jpg
ProjectQT/Debug/
ProjectQT/.vs/
ProjectQT/Release/
ProjectQT/Profil/
ProjectQT/ProjectQT.VC.db
ProjectQT/ProjectQT.sln
ProjectQT/ProjectQT.vcxproj.filters
ProjectQT/x64/
ProjectCpp/GUI/ALL_BUILD.vcxproj
ProjectCpp/GUI/ALL_BUILD.vcxproj.filters
ProjectCpp/GUI/CMakeCache.txt
ProjectCpp/GUI/CMakeFiles
ProjectCpp/GUI/Debug
ProjectCpp/GUI/GUI.VC.VC.opendb
ProjectCpp/GUI/GUI.VC.db
ProjectCpp/GUI/GUI.dir
ProjectCpp/GUI/GUI.sln
ProjectCpp/GUI/GUI.vcxproj
ProjectCpp/GUI/GUI.vcxproj.filters
ProjectCpp/GUI/ZERO_CHECK.vcxproj
ProjectCpp/GUI/ZERO_CHECK.vcxproj.filters
ProjectCpp/GUI/cmake_install.cmake
ProjectCpp/GUI/x64/



OtherFiles/testImages/FlashImages/OutputTestImages/
OtherFiles/testImages/FrameImages/OutputTestImages/
